@font-face {
  font-family: Gravity-Light;
  src: url("../assets/fonts/Gravity-Light.otf");
}
@font-face {
  font-family: Gravity-Regular;
  src: url("../assets/fonts/Gravity-Regular.otf");
}
@font-face {
  font-family: Gravity-Italic;
  src: url("../assets/fonts/Gravity-Italic.otf");
}
@font-face {
  font-family: Gravity-Bold;
  src: url("../assets/fonts/Gravity-Bold.otf");
}
